<!doctype html>
<html>
  <head>
    <title>Help with a job - Crowd MapReduce</title>
    {{template "Includes"}}
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
      $(document).ready(function() {
        var client = new Client('{{.Id}}');
      });
    </script>
  </head>
  <body>
    {{template "Nav"}}
    <div class="container">
      <h1>Helping with job {{.Id}}</h1>
      <p><strong>Current status:</strong> 
        <span id="status">Connecting to server.</span></p>
      <p><strong>Number of map tasks helped:</strong> 
        <span id="nummaps">0</span></p>
      <p><strong>Number of reduce tasks helped:</strong> 
        <span id="numreduces">0</span></p>
    </div>
  </body>
</html>
