<!doctype html>
<html>
  <head>
    <title>Create a job - Crowd MapReduce</title>
    {{template "Includes"}}
    <style>
      .code {
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 0.9em;
      }
    </style>
    <script src="/js/filesystem.js"></script>
    <script src="/js/create.js"></script>
    <script>
      var creator = new JobCreator('{{.Id}}');
    </script>
  </head>
  <body>
    {{template "Nav"}}
    <div class="container">
      <h1>Create a job</h1>
      <form method="get" role="form" class="form-horizontal" name="jobform">
        <div class="form-group">
          <label for="mapper" class="col-sm-2 control-label">Mapper</label>
          <div class="col-sm-10">
            <code>// Input: an array of strings.</code><br />
            <code>// Output: an array of [key, value].join('\t') strings.
            </code><br />
            <code>function mapper(lines) {</code><br />
            <textarea class="form-control code" rows="10"
              name="mapper"></textarea>
            <code>}</code>
          </div>
        </div>
        <div class="form-group">
          <label for="reducer" class="col-sm-2 control-label">Reducer</label>
          <div class="col-sm-10">
            <code>// Input: a string key, and an array of string values for that
              key.</code><br />
            <code>// Output: an array of strings.
            </code><br />
            <code>function reducer(key, values) {</code><br />
            <textarea class="form-control code" rows="10"
              name="reducer"></textarea>
            <code>}</code>
          </div>
        </div>
        <div class="form-group">
          <label for="datafiles" class="col-sm-2 control-label">
            Location of data</label>
          <div class="col-sm-10">
            <input type="file" name="datafiles" multiple />
          </div>
        </div>
        <div class="form-group">
          <label for="numreducers" class="col-sm-2 control-label">Number of
            reducers</label>
          <div class="col-sm-10">
            <input type="number" name="numreducers" />
          </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-lg btn-primary" />
              Start job
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
