<!doctype html>
<html>
  <head>
    <title>Run a job - Crowd MapReduce</title>
    {{template "Includes"}}
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="/js/filesystem.js"></script>
    <script src="/js/server.js"></script>
    <script>
      var server = new Server('{{.Id}}', '{{.MapperCode}}', '{{.ReducerCode}}');
    </script>
  </head>
  <body>
    {{template "Nav"}}
    <div class="container">
      <h1>Job {{.Id}}</h1>
      <p>Mapper: {{.MapperCode}}</p>
      <p>Reducer: {{.ReducerCode}}</p>
      <p>Data located at {{.DataUrl}}</p>
      <p>Share this link to get people running your job:
        <a href="/job/{{.Id}}" id="sharelink"></a></p>
      <p id="status">Waiting for clients...</p>
      <script>
        document.querySelector('#sharelink').innerText =
          location.protocol + "//" + location.host + "/job/{{.Id}}";
      </script>
    </div>
  </body>
</html>
